@font-face {
    font-family: 'Coca-Cola';
    src: url("/src/assets/fonts/Coca-ColaCareFontKaiTi.TTF") format("truetype");
  }
.rank-title{
    width: 53vw;
    height: 5vh;
    font-family: Coca-Cola;
    color: #76491B;
    font-size: 3vh;
    background: #F8F8DC;

}