@highlightTextColor: #FDF4BC;
@NeverTextMedium: 1.8rem;
@NeverTextLarge: 2.8rem;
.neverText-1, .neverText-2, .neverText-3, .neverText-4 {
  font-size: @NeverTextMedium;
  position: absolute;

}
.neverText-1 {
  left: 5%;
  top: 5%;
}
.neverText-2 {
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}
.neverText-3 {
  bottom: 22vh;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
}
.neverText-4 {
  bottom: 15vh;
  left: 5%;
}
.never-chart {
  width: 40vh;
  height: 40vh;
  position: absolute;
  top: 20vh;
  left: 50vw;
  transform: translateX(-50%);
}