.conclusion-top {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  width: 100vw;
}

.conclusion-text {
  position: absolute;
  text-align: left;
  left: 6vw;
  font-size: 1.2rem;
  color: #1a1a1a;
  font-family: sans-serif !important;
  transform: rotate(4deg);
  transform-origin: left;
  z-index: 2 !important;
}
.loop(@index) when (@index < 9) {
  .conclusion-text-@{index} {
    position: absolute;
    left:(16vw - 0.3vw * @index);
    top: (20vh + 6vh * @index);
  }
  .loop(@index + 1); // 递归调用自己来创建循环
}

// 使用混合开始循环，假设我们要创建10个项目
.loop(1);
.card {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  z-index: 0 !important;
}
.save-pic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding:2vw 5vw 2vw 5vw;
  border-radius: 3vw;
  bottom: 5vh;
  font-size: 5vw;
  color: white;
  background-color: #FCBC43;
  z-index: 3;
}

