@font-face {
  font-family: 'xiaowei';
  src: url("fonts/xiaowei.ttf") format("truetype");
}
.addtion1, .addtion2, .cover-sub-title, .cover-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vh;
  text-align: center;
}

.cover-title {
  top: 4vh;
  font-size: 8vw;
}
.cover-sub-title {
  font-size: 6vw;
  top: 12vh;
  transform: translateX(-48%);
}
.producted, .report-title1, .report-title2 {
  position: absolute;
  left: 5vw;
  bottom: 15vh;
}
.producted-img {
  width: 30vw;
}
.report-title1 {
  bottom: 7vh;
  font-size: 8vh;
  font-weight: 400;
}
.report-title2 {
  bottom: 3vh;
  font-size: 5vh;
}
.addtion2, .addtion1 {
  width: 100%;
  font-size: 2vh;
}
.addtion1 {
  top: 50vh;
}
.addtion2 {
  top: 54vh;
}
.envelope {
  position: absolute;
  top: 20vh;
  height: 20vh;
  width: 60vw;
  left: 20vw;
  transform-origin: center;
}

@keyframes envelope-mounting {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes envelope-visible {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.95;
  }
  95% {
    scale: 1;
  }
}
@keyframes envelope-unmounting {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}