.cards{
    position: absolute;
    width: 70vw;
    top: 23vh;
    left: 21vw;
}
.card-OrderedElem-1{
    position: absolute;
    top: 5vh;
    left: 13vw;
    font-size: 7vw;
}
.card-OrderedElem-2{
    position: absolute;
    top: 12vh;
    left: 13vw;
    font-size: 7vw;
}
.card-OrderedElem-3{
    position: absolute;
    top: 20vh;
    left: 13vw;
    font-size: 7vw;
    color: #FFF781;
}
.card-OrderedElem-4{
    position: absolute;
    bottom: 28vh;
    left: 9vw;
    font-size: 7vw;
    z-index: 5;
}
.card-OrderedElem-5{
    position: absolute;
    bottom:22vh;
    left: 15vw;
    font-size: 7vw;
    z-index: 5;
}
.card-OrderedElem-6{
  position: absolute;
  bottom:16vh;
  left: 9vw;
  font-size: 7vw;
  color: #FFF781;
  z-index: 5;
}

@keyframes cards-mounting {
    0% {
      opacity: 0;
      scale: 0;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes cards-visible {
    0% {
      scale: 1;
    }
    50% {
      scale: 0.95;
    }
    95% {
      scale: 1;
    }
  }
  @keyframes cards-unmounting {
    0% {
      opacity: 1;
      scale: 1;
    }
    100% {
      opacity: 0;
      scale: 0;
    }
  }