.study-word-1{
    position: absolute;
    font-size: 7vw;
    left: 7vw;
    top: 4vh;
}
.study-word-2{
    position: absolute;
    font-size: 7vw;
    left: 7vw;
    top: 11vh;
}
.study-word-3{
    position: absolute;
    font-size: 7vw;
    left: 7vw;
    top: 17vh;
}
.study-word-4{
    position: absolute;
    font-size: 7vw;
    left: 7vw;
    bottom: 24vh;
}
.study-word-5{
    position: absolute;
    font-size: 7vw;
    left: 14vw;
    bottom: 18vh;
}
